<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532946733046-7je7uqbna902jh8fhqbvtartv2pbrplv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532946733046-7je7uqbna902jh8fhqbvtartv2pbrplv</string>
	<key>API_KEY</key>
	<string>AIzaSyADhSegimre2lNFTJUKuy-f6agRzFRRUK4</string>
	<key>GCM_SENDER_ID</key>
	<string>532946733046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gonzalo.leon.KatchAppTest</string>
	<key>PROJECT_ID</key>
	<string>notifications-3cc96</string>
	<key>STORAGE_BUCKET</key>
	<string>notifications-3cc96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:532946733046:ios:a21a6584d5acc75a34e9d7</string>
	<key>DATABASE_URL</key>
	<string>https://notifications-3cc96.firebaseio.com</string>
</dict>
</plist>
